# Aliases

alias ..='cd ../'
alias ...='cd ../../'
alias ....='cd ../../../'
alias bld='yarn run build'
alias br='git branch'
alias branch='git branch'
alias c='git commit -m'
alias cat='pygmentize -O style=monokai -f console256 -g'
alias ch='git checkout'
alias clone='gclone'
alias ciskip=emptyskipci
alias emptyciskip=emptyskipci
alias com='git commit -m'
alias commit='git commit -m'
alias coverage='yarn run test:coverage && open coverage/lcov-report/index.html -a Google\ Chrome'
alias cleanpyc='find . -name "*.pyc" -delete'
# git-cz: https://www.npmjs.com/package/git-cz
alias cz='git-cz'
alias deleteDS='find . -name '\''.DS_Store'\'' -type f -delete'
alias dbr='git branch -D $1'
alias deletebranch='git branch -D $1'
alias fdiff='gFileDiff'
alias filediff='gFileDiff'
alias findbranch="findBranch"
alias g='git'
alias gdif="diffCompareStagingStats"
alias gdiff="diffCompareStaging"
alias gcom='git commit -m $1'
alias gcz='git-cz'
alias gdiff='git diff'
alias goops='git reset HEAD~1'
alias gpo='gpusho'
alias gprune='git fetch origin --prune && git branch --merged staging | grep -v '\''staging$'\'' | xargs git branch -d'
alias grevert='git checkout -- .'
alias gstash='git stash'
alias gunstash='git stash apply'
alias hardcommit='lookMomNoHands'
alias honk='yarn start'
alias honkloud='rm -rf ./node_modules/ && yarn install && yarn start'
# Local https server: https://paulbrowne.xyz/https-localhost
alias https-server='http-server --ssl --cert ~/.ssl/localhost.crt --key ~/.ssl/localhost.key -a localhost -o'
alias ieslint='installeslint'
alias gander='yarn run test:js'
alias jesty='yarn run test:js'
alias jo='jojos'
alias joco='jojos co'
alias jojo='jojos'
alias joo='jojos open'
alias l='ls -a -G'
alias master='git checkout master'
alias mstag='merge_staging'
alias mstagin='merge_staging'
alias mstaging='merge_staging'
alias newbranch='git checkout -b'
alias o='open'
alias profile='open ~/.profile'
# Safe deleting: https://www.npmjs.com/package/trash-cli
alias r='trash'
alias resetdb='fab reset_test_database'
alias sprofile='source ~/.profile'
alias stagin='git checkout staging'
alias staging='git checkout staging'
alias toweather='curl wttr.in/toronto'
alias weather='curl wttr.in/vancouver'
alias yank='git pull'
alias ygrunt='yarn install --pure-lockfile --force && yarn run dev'
alias yi='yarn install --pure-lockfile --force'
alias yr='yarn run'
alias yod='yarn outdated'
alias yrun='yarn run'
alias ytho='yarn why'
